<div class="abc">
  <div class="abc__inner">
    <a href="" class="abc__link reverse">А</a> 
    <a href="" class="abc__link reverse">Б</a> 
    <a href="" class="abc__link reverse">В</a> 
    <a href="" class="abc__link reverse">Г</a> 
    <a href="" class="abc__link reverse">Г</a> 
    <a href="" class="abc__link reverse">Д</a> 
    <a href="" class="abc__link reverse">Є</a> 
    <a href="" class="abc__link reverse">Ж</a> 
    <a href="" class="abc__link reverse">Е</a> 
    <a href="" class="abc__link reverse">З</a> 
    <a href="" class="abc__link reverse">И</a> 
    <a href="" class="abc__link reverse">І</a> 
    <a href="" class="abc__link reverse">Ї</a> 
    <a href="" class="abc__link reverse">Й</a> 
    <a href="" class="abc__link reverse">К</a> 
    <a href="" class="abc__link reverse">Л</a> 
    <a href="" class="abc__link reverse">М</a> 
    <a href="" class="abc__link reverse">Н</a> 
    <a href="" class="abc__link reverse">О</a> 
    <a href="" class="abc__link reverse">П</a>
    <a href="" class="abc__link reverse">Р</a>
    <a href="" class="abc__link reverse">С</a>
    <a href="" class="abc__link reverse">Т</a>
    <a href="" class="abc__link reverse">У</a>
    <a href="" class="abc__link reverse">Ф</a>
    <a href="" class="abc__link reverse">Х</a>
    <a href="" class="abc__link reverse">Ц</a>
    <a href="" class="abc__link reverse">Ч</a>
    <a href="" class="abc__link reverse">Ш</a>
    <a href="" class="abc__link reverse">Щ</a>
    <a href="" class="abc__link reverse">Ь</a>
    <a href="" class="abc__link reverse">Ю</a>
    <a href="" class="abc__link reverse">Я</a>
    <a href="" class="abc__link reverse">1</a>
    <a href="" class="abc__link reverse">2</a>
    <a href="" class="abc__link reverse">3</a>
    <a href="" class="abc__link reverse">4</a>
    <a href="" class="abc__link reverse">5</a>
    <a href="" class="abc__link reverse">6</a>
    <a href="" class="abc__link reverse">7</a>
    <a href="" class="abc__link reverse">8</a>
    <a href="" class="abc__link reverse">9</a>
    <a href="" class="abc__link reverse">0</a>
    <a href="" class="abc__link reverse">A</a>
    <a href="" class="abc__link reverse">B</a>
    <a href="" class="abc__link reverse">C</a>
    <a href="" class="abc__link reverse">D</a> 
    <a href="" class="abc__link reverse">E</a> 
    <a href="" class="abc__link reverse">F</a> 
    <a href="" class="abc__link reverse">G</a> 
    <a href="" class="abc__link reverse">H</a> 
    <a href="" class="abc__link reverse">I</a> 
    <a href="" class="abc__link reverse">J</a> 
    <a href="" class="abc__link reverse">K</a> 
    <a href="" class="abc__link reverse">L</a> 
    <a href="" class="abc__link reverse">M</a> 
    <a href="" class="abc__link reverse">N</a> 
    <a href="" class="abc__link reverse">O</a> 
    <a href="" class="abc__link reverse">P</a> 
    <a href="" class="abc__link reverse">Q</a> 
    <a href="" class="abc__link reverse">R</a> 
    <a href="" class="abc__link reverse">S</a> 
    <a href="" class="abc__link reverse">T</a> 
    <a href="" class="abc__link reverse">U</a> 
    <a href="" class="abc__link reverse">V</a> 
    <a href="" class="abc__link reverse">W</a> 
    <a href="" class="abc__link reverse">X</a> 
    <a href="" class="abc__link reverse">Y</a> 
    <a href="" class="abc__link reverse isActive">Z</a>
  </div>
  <input type="search" placeholder="Пошук автора" class="abc__search">
</div>
