      </main>
      <!-- main end-->
      <!-- main footer -->
      <footer class="footer">
        <div class="container">
          <div class="row footer__top-row">
            <div class="col footer__top-logo">
              <img src="img/f-logo-1.png" width="260" alt="">
            </div>
            <div class="col footer__top-logo">
              <img src="img/f-logo-1.png" width="260" alt="">
            </div>
          </div>
          <div class="row footer__row">
            <div class="col col-12 col-xs-6"><img src="img/f-logo.png" width="138" alt=""></div>
            <div class="col col-12 col-xs-6">
              <div class="footer__inf">
                <span>Телефон:</span>
                <a href="tel:(044) 279 - 65 - 49">(044) 279 - 65 - 49</a>
              </div>
            </div>
            <div class="col col-12 col-xs-6">
              <div class="footer__inf">
                <span>Email:</span>
                <a href="mainto:info@nstdu.com.ua">info@nstdu.com.ua</a>
              </div>
            </div>
            <div class="col col-12 col-xs-6">
              <div class="copy">Сайт створено за підтримки</div>
            </div>
          </div>
        </div>
      </footer>
      <!-- main footer end-->
    </div>
  </div>
  //= modal.html

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./js/main.min.js"></script>
  </body>
</html>
