  </main>
  <!-- main end-->
  <!-- main footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-logo">
          <img src="img/f-logo-1.png" width="260" alt="">
        </div>
        <div class="footer__top-logo">
          <img src="img/f-logo-1.png" width="260" alt="">
        </div>
      </div>
      <div class="footer__logo">
        <img src="img/f-logo.png" width="138" alt="">
      </div>
    </div>
  </footer>
  <!-- main footer end-->

  //= modal.html

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../js/main.min.js"></script>
  </body>
</html>
