
      <div class="icon-box">
        <code class="icon-box__txt">icon-arrow-next</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-arrow-next"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-arrow-prev</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-bed</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-bed"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-board-1</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-board-1"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-board</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-board"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-calendar</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-calendar"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-cup</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-cup"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-discount</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-discount"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-earth</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-earth"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-envelope</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-envelope"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-fb</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-fb"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-gp</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-gp"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-inst</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-inst"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-like</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-like"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-marker-map</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-marker-map"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-marker</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-marker"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-plane</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-plane"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-search</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-spoon</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-spoon"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-tel</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-tel"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-tw</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-tw"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-user</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-user"></use>
        </svg>
      </div>
      <div class="icon-box">
        <code class="icon-box__txt">icon-yt</code>
        <svg class="svg-icon" width="50" height="50" aria-hidden="true">
          <use xlink:href="#icon-yt"></use>
        </svg>
      </div>