<div class="page-aligner page-aligner--bg">
  <div class="page-aligner__content">
    <div class="tbl-wrp">
      <table class="tbl">
        <thead>
          <tr>
            <th width="20%">Назва п'єси</th>
            <th>Жанр</th>
            <th>Дії</th>
            <th>Персонажі</th>
            <th>Мова</th>
            <th>Анотація</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
          <tr>
            <td><a href="">«Коли цвіте папороть»</a></td>
            <td>Комедія</td>
            <td>4 дії</td>
            <td>
              Діти: 4<br>
              Жінки: 12<br>
              Чоловіки: 30<br>
              Масовка: 56
            </td>
            <td>Українська</td>
            <td>
              Lorem ipsum dolor sit amet, conse ctetur adipiscing
              //= text-more.html
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    //= pagination.html
  </div>
</div>