<!-- modal -->
<div class="modal mfp-hide" id="modal">
  <div class="modal__inner">
    <div class="modal__form-wrap ">
      <form action="">
        <div class="modal-form">
          <div class="modal-form__item">
            <input type="text" name="name" placeholder="Имя" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="tel" name="tel" placeholder="Телефон" required>
          </div>
          <div class="modal-form__item">
            <input type="text" name="skype" placeholder="Skype" required>
            <select name="" id="xxx" required>
              <option value="" selected disabled>xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>  
              <option value="">xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>
              <option value="">xxx</option>
            </select>
          </div>
          <div class="modal-form__item">
            <textarea name="name" rows="8" cols="40" placeholder="Текст" required></textarea>
            <input type="submit" value="Отправить">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- modal end -->
