<!-- main nav -->
<button class="btn btn--menu js-toggle-nav" data-href="#main-nav"><span class="lines"></span></button>
<nav class="nav nav--hidden">
  <ul class="menu" id="main-nav">
    <li class="menu-item"><a href=".html" title="">Про нас</a></li>
    <li class="menu-item current-menu-item"><a href=".html" title="">Каталог</a></li>
    <li class="menu-item">
      <a href=".html" title="">Конкурси</a>
      
    </li>
    <li class="menu-item">
      <a href=".html" title="">Для авторів  </a>
    </li>
    <li class="menu-item">
      <a href=".html" title="">Контакты </a>
    </li>
  </ul>
</nav>
<!-- main nav end -->
                              