<article class="post">
  <a href="" class="post__link">
    <figure class="post__image">
      <img class="post__thumb" src="img/pictures/post.jpg" srcset="img/pictures/post2x.jpg 2x" width="270" height="180" alt="">
      <figcaption class="post__title">
        <a href="">Название новости один</a>
      </figcaption>
    </figure>
  </a>
  <p class="post__excerpt">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора
    мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом</p>
  <div class="post__info">
    <time class="post__date">30.12.2016</time>
    <a href="#" class="post__tag">Новости</a>
  </div>
</article>
