.abc {
  font-size: 0;
  position: relative;
  margin: 0 -11px;
  overflow: auto;

  &__inner {
    min-width: 500px;
    margin-bottom: 50px;
    
    @include min('md') {
      margin-bottom: 100px;
    }
  }

  &__link {
    display: inline-block;
    vertical-align:top;
    padding: 11px 10px;
    font-size: 20px;
    font-family: $font-family2;
    line-height: 1;
    text-transform: uppercase;

    &:hover,
    &.isActive {
      color: #fff;
    }
  }

  &__search {
    display: block;
    width: 100%;
    border:$border;
    background: none;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    font-family: $font-family;
    padding: 20px;
    margin-bottom: 50px;
    
    @include min('md') {
      margin-bottom: 136px;
      padding: 40px 57px;
    }


    @include placeholder {
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      font-family: $font-family;
    }

    @include placeholder--focus
  }
}