$gutter: 28;
$container-width: 1008;
.container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width + $gutter + px;
  padding-left: $gutter/2 + px;
  padding-right: $gutter/2 + px;

  &--fluid {
    max-width: 100%;
  }
}

.row {
  position: relative;  
  margin-left: $gutter/-2 + px;
  margin-right: $gutter/-2 + px;
  flex-wrap: wrap;  
  @include min('xs') {
    display: flex;
  }
}

.col {
  padding-left: $gutter/2 + px;
  padding-right: $gutter/2 + px;
}


@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i / 12 * 100%;
  }
}


@each $key,
$val in $breakpoints {
  @include min($val) {
    @for $i from 1 through 12 {
      .col-#{$key}-#{$i} {
        width: $i / 12 * 100%;
      }
    }
  }
}