@import '_mfp';

.modal{
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

//modal animation

// .fade-rotate {
//   .modal {
//       opacity: 0;
//       transition: all 0.2s ease-out;
//       transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
//   }
//   //  animate in
//   &.mfp-ready .modal {
//     opacity: 1;
//     transform: translateY(0) perspective( 600px ) rotateX( 0 );
//   }
//   //  animate out
//   &.mfp-removing .modal {
//     opacity: 0;
//     transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
//   }
//   //  Dark overlay, start state
//   &.mfp-bg {
//     opacity: 0;
//     transition: opacity 0.3s ease-out;
//   }
//   //  animate in
//   &.mfp-ready.mfp-bg {
//     opacity: 0.8;
//   }
//   //  animate out
//   &.mfp-removing.mfp-bg {
//     opacity: 0;
//   }
// }


.fade-zoom {
  .modal {
      opacity: 0;
      transition: all 0.2s ease-out;
      transform: scale(0.8);
  }
  //  animate in
  &.mfp-ready .modal {
    opacity: 1;
    transform: scale(1);
  }
  // animate out
  &.mfp-removing .modal {
    opacity: 0;
    transform: scale(1.1);
  }
  // Dark overlay, start state
  &.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  // animate in
  &.mfp-ready.mfp-bg {
    opacity: 0.8;
  }
  // animate out
  &.mfp-removing.mfp-bg {
    opacity: 0;
  }
}
