.pagination{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}


.page-numbers{
  font-size: 34px;
  padding: 0 12px;
}

.page-numbers{
  color: #242424;

  &.current,
  &:hover{
    
  }
}

.pag-arrow{
  
}

.pag-arrow-next,
.pag-arrow-prev{
  transition: color 0.2s;
  color: #e4989a;

  &:hover{
    color: #fff;
  }
}
