.tbl-wrp {
  overflow: auto;
}

.tbl {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
  table-layout: fixed;
  font-size: 14px;
  line-height: 2;
  color: #000;
  letter-spacing: 0.1em;
  font-weight: 500;

  th, b {
    font-family: Spectral;
    font-weight: bold;
    font-size: 22px;
    font-family: $font-family2;
    text-align: left;
    padding: 42px 5px;
  }

  td {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 16px 5px;
  }
  th,
  td {
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: #fff;
    }
  }

  &.no-top-brdr {
    tr:first-child td {
      border-top: none;
    }
  }
}

.text-more {
  position: relative;
  &__btn-show{
    padding: 15px 0;
    display:flex;
    cursor: pointer;
    &:hover {
      circle {
        fill: #755f3b;
      }
    }
    &:focus {
      outline: none;
    }
    svg {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
  &__cnt {
    padding: 28px;
    position: absolute;
    right: 105%;
    bottom:0;
    font-weight: 500;
    min-width: 290px;
    background: #E9D1AA;
    letter-spacing: 0.1em;
    color: rgba(#000000, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

    tr:first-child & {
      bottom: auto; top:0;
    }
  }
  &__btn-close {
    position: absolute;
    padding: 17px;
    top: 0;
    right: 0;
    cursor: pointer;
    &:hover {
      path {
        fill: #755f3b;
      }
    }
    &:focus {
      outline: none;
    }
    svg {
       display: block;
     }
  }
}